
.Rhistory
.Rproj.user/6BF10832/pcs/files-pane.pper
.Rproj.user/6BF10832/pcs/source-pane.pper
.Rproj.user/6BF10832/pcs/windowlayoutstate.pper
.Rproj.user/6BF10832/pcs/workbench-pane.pper
.Rproj.user/6BF10832/rmd-outputs
.Rproj.user/6BF10832/saved_source_markers
.Rproj.user/shared/notebooks/patch-chunk-names
Stryphnodendron_pollen_evolution.Rproj
